
.App {
  text-align: center;
}

.container {
  border-radius: 5px;
  background: #FFBC97;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; /* Hide overflow */
  align-content: flex-start; /* Align items at the start of the container */
}

.row {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping items to the next line */
}

.resizeable {
  position: relative; /* Make position relative to allow absolute positioning of resizers */
  border: 2px solid #533535;
  width: 200px;
  height: 200px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px; /* Add some margin between resizable divs */
}

.resizer {
  position: absolute;
}

.resizer-r {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: 5px;
}

.resizer-t,
.resizer-b {
  cursor: row-resize;
  height: 5px;
  width: 100%;
}

.resizer-t {
  top: 0;
}

.resizer-b {
  bottom: 0;
}

.resizer-l {
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  width: 5px;
}

.resizable-content {
  background-color: white; /* Set background color for resizable content */
}
